:root {
    --color-none: none;
    --color-F5F5F5: #ffffff; 
    --color-F44C4C: #ffffff; 
    --color-D9D9D9: #D9D9D9; 
    --color-white: white; 
    --color-67E753: #ffc2c2; 
    --color-D67EFF: #be692d; 
    --color-75CDFF: #ffe375;
  }

  .color-none { fill: var(--color-none); } 
  .color-F5F5F5 { fill: var(--color-F5F5F5); } 
  .color-F44C4C { fill: var(--color-F44C4C); } .color-D9D9D9 { fill: var(--color-D9D9D9); } .color-white { fill: var(--color-white); } .color-67E753 { fill: var(--color-67E753); } .color-D67EFF { fill: var(--color-D67EFF); } .color-75CDFF { fill: var(--color-75CDFF); }


	.st0{display:none;}
	.st1{display:inline;fill:#141516;}
	.st2{fill:#231F20;}
	.st3{fill:#3DB7E9;stroke:#231F20;stroke-width:12;stroke-miterlimit:10;}
	.st4{enable-background:new    ;}
	.st5{fill:none;stroke:#231F20;stroke-width:12;stroke-miterlimit:10;}
	.st6{fill:#E69F26;stroke:#231F20;stroke-width:12;stroke-miterlimit:10;}
	.st7{fill:#CB79A6;stroke:#231F20;stroke-width:12;stroke-miterlimit:10;}
	.st8{fill:#359B73;}
	.st9{fill:#0773B2;}
	.st10{fill:#0c4d11;stroke:#231F20;stroke-width:12;stroke-miterlimit:10;}
	.st11{fill:#D35F27;}
	.st12{fill:#3DB7E9;stroke:#231F20;stroke-width:2;stroke-miterlimit:10;}
	.st13{fill:none;stroke:#231F20;stroke-width:2;stroke-miterlimit:10;}
	.st14{fill:#E69F26;stroke:#231F20;stroke-width:2;stroke-miterlimit:10;}
	.st15{fill:#CB79A6;stroke:#231F20;stroke-width:2;stroke-miterlimit:10;}
	.st16{fill:#45f042;stroke:#231F20;stroke-width:2;stroke-miterlimit:10;}

#dog {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    width: 100px; /* Need a specific value to work */
    
}
